footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  padding: 14px 50px;
  background-color: #343a40 !important;
  color: #ffffff;
}

.ml-auto-left {
  float: left;
}

.ml-auto-right {
  float: right;
}
